        body {
            background-color: black;
            color: white;
            font-family: Arial;
            font-size: 3;
        }
        a:link {
            color: #00ff00;
        }
        a:visited {
            color: #00ff00;
        }
        a:hover {
            color: #00ff00;
        }
        a {
        text-decoration: none;
        }
